input[type="text"] {
    padding: 10px;
    font-size: 15px;
    
}
table {
    border-collapse: collapse;
    width: 100%;
}
table tr th{
    padding: 8px;
    border: 1px solid #ccc;
    background-color: #eee;
}
table tr td {
    padding: 8px;
    border: 1px solid #ccc;
}
